div {
	position: absolute;
}

.comic-container {
	width: 800px;
}

@media (max-width: 799px) {
	.comic-container {
		margin-left: 0px;
		left: 0%;
	}
}

@media (min-width: 800px) {
	.comic-container{
		margin-left: -400px;
		left: 50%;
	}
}