div {
	position: absolute;
}

.comic-container {
	width: 800px;
	margin-top: 75px;
}

.info-container {
	font-style: italic;
	margin-top: 65px;
	width: 800px;
}

@media (max-width: 799px) {
	.comic-container {
		margin-left: 0px;
		left: 0%;
	}
	.info-container {
		margin-left: 0px;
		left: 0%;
	}
}

@media (min-width: 800px) {
	.info-container{
		margin-left: -400px;
		left: 50%;
	}
	.comic-container{
		margin-left: -400px;
		left: 50%;
	}
}