<nav class = "navbar navbar-dark bg-dark navbar-expand-lg navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="main">VapeDad Comic</a>
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
		aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarContent">
			<ul class="nav navbar-nav mr-auto"></ul>
			<ul class="nav navbar-nav justify-content-end">
				<li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
				<li class="nav-item"><a class="nav-link" href="https://www.facebook.com/vapedadcomic/"><img src="../assets/FB.png"></a></li>
				<li class="nav-item"><a class="nav-link" href="https://www.instagram.com/vapedadcomic/"><img src="../assets/IG.png"></a></li>
				<li class="nav-item" *ngIf="comicService.isLoggedIn()"><a class="nav-link" (click)="comicService.logout()">Logout</a></li>
			</ul>
		</div>

	</div>
</nav>


<form [formGroup]="contactForm" (ngSubmit)="OnSubmit()">
	<h2>Contact Us</h2>
	<h4>Ya know, if you're sure you really want to talk to us</h4>
	<div class="form-group">
		<label class="center-block">Name: <span class="red">*</span></label>
		<input id="name" class="form-control" formControlName="name" required>
		<label class="center-block">Email: <span class="red">*</span></label>
		<input id="email" class="form-control" formControlName="email" required>
		<label class="center-block">Message: <span class="red">*</span></label>
		<textarea id="message" class="form-control" wrap="physical" type="text" formControlName="message" required></textarea>
		<button type="submit" class="btn btn-success" [disabled]="contactForm.status=='INVALID'">Send</button>
	</div>
</form>
